.led{

width: 150px;
/*width: 150px;*/
 height: 100px;
 background: #000;
 background: #eee;
 margin: 15px 0;
 padding: 20px;
 font-size: 3em;
 font-family: monospace;
}

.NumButtons {

 width: 150px;
 width: 300px;
}
.end{
	background: rgba(0,0,0,0.95);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
font-weight:bold
}
.end h1{
	color: #f30;
	text-align: center; 
	margin-top: 20%
}
#startGame{
	margin-left: 47%
}